{%extends 'index.html'%}
{%block content %}
<section class="container" id="alets">
    <div class="alert alert-success" role="alert">
        Anfrage versendet!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger" role="alert">
        Fehler beim versenden der Anfrage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</section>
<section class=" box" id="contactForm">
    <div class="card">
        <div class="card-header bg-dark " style='color: rgb(207, 55, 55)' >
            Kontaktformular
        </div>
        <div class="card-body">
            <form method="post" action="#">
                {% csrf_token%}
                <input type="hidden" name="csrfToken" value="123">
                <div class="row form-group">
                    <div class="col-2">
                        Anrede:
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <input name="salutation" id="salutationMrs" class="" type="radio" value="mrs"><label class="form-check-label" for="salutationMrs"> Frau</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="salutation" id="salutationMr" class="" type="radio" value="mr"><label class="form-check-label" for="salutationMr"> Herr</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input name="salutation"  class="" type="radio" value="dv"><label class="form-check-label" for="salutationDv"> Divers</label>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-2 col-form-label" for="name">
                        Name:
                    </label>
                    <div class="col">
                        <input type="text" name="name" id="name" placeholder="Name" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-2 col-form-label" for="name">
                        Email:
                    </label>
                    <div class="col">
                        <input type="text" name="email" id="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-2 col-form-label" for="subject">
                        Betreff:
                    </label>
                    <div class="col">
                        <textarea id="message" class="form-control" rows="1"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-2 col-form-label" for="message">
                        Nachricht:
                    </label>
                    <div class="col">
                        <textarea id="message" class="form-control " rows="7"></textarea>
                    </div>
                </div>
                
            
        </div>
        <div class="card-footer">
            <button class="bg-dark" style='color: rgb(207, 55, 55)' >Anfrage senden</button>
        </div>
    </form>
    </div>
</section>
{% endblock content %}